{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">

   <main class="govuk-main-wrapper">

      <a href="#" class="govuk-back-link" style="position:absolute; top:110px;">Back</a>

      <h1 class="govuk-heading-xl">Problems with your equipment?</h1>

 
      <p class="govuk-body">
         Please call the video hearings team using the following numbers:<br><span class='govuk-hint'>(available 9am to 5pm, Monday to Friday, excluding public holidays)<span>
      </p>
      <p class='govuk-body'>
         If your hearing is in <strong>England or Wales</strong> phone 0300 303 0655
      </p>
      <p class='govuk-body'>
         If your hearing is in <strong>Scotland</strong> phone 0300 790 6234
      </p>

      <div style="margin-top:30px;">
         <button class="govuk-button" onclick="location.href='hearinglist'">Continue</button>
         <button class="govuk-button govuk-button--secondary" onclick="location.href='mediacheck'">Check equipment again</button>
      </div>

      <details class="govuk-details" style="margin-top:45px;">
         <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
               Contact us for help
            </span>
         </summary>
         <div class="govuk-details__text">
            <p class="govuk-body" style="margin-top:10px;">
               <strong>England and Wales</strong>
               <br>
               Call us on <strong>0300 303 0655</strong>
               <br>
               Email us at <a href="mailto:video-hearings@justice.gov.uk"> video-hearings@justice.gov.uk</a> quoting your case number.
            </p>
            <p class="govuk-body" style="margin-top:10px;">
               <strong>Scotland</strong>
               <br>
               Call us on <strong>0300 790 6234</strong>
               <br>
               Email us at <a href="mailto:SSCSA-Glasgow@Justice.gov.uk"> SSCSA-Glasgow@Justice.gov.uk</a> quoting your case number.
            </p>
            <p>
               <span class="govuk-caption-m">Available Monday to Friday, 9am to 5pm (excluding public holidays)</span>
            </p>
         </div>
      </details>

   </main>

</div>

{% endblock %}